.home-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6% 2%;
}

.home-header .logo {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.header-dropdown {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.add-user-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-user-modal {
    display: flex;
    justify-content: center;
}

.header-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-profile {
    background: #DFECF1;
}