.post-manager {
    padding: 2% 6% 2%;
}

.post-manager-header {
    padding: 0 0 0 6%;
    font-size: 1.3em;
    font-weight: bold;
}

.post-manager-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.post-manager-post-card {
    max-width: 300px;
    flex: 1 0 21%;
    margin: 1%;
    border: 1px solid #D6D6D6;
    padding: 10px;
    border-radius: 3%;
    min-width: 270px;
}

.post-manager-posts {
    display: flex;
    flex-wrap: wrap;
}

.post-manager-image {
    width: 100px;
    height: 100px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
}