.post-manager {
    padding: 2% 6% 2%;
}

.post-manager-header {
    padding: 0 0 0 6%;
    font-size: 1.3em;
    font-weight: bold;
}

.post-manager-content {
    display: flex;
    justify-content: space-between;
}

.post-manager-post-card {
    flex: 1 0 21%;
    margin: 1%;
    border: 1px solid #D6D6D6;
    padding: 10px;
    border-radius: 3%;
    min-width: 270px;
    max-width: 270px;
}

@media (max-width: 425px) {
    .post-manager-post-card {
        margin-bottom: 6%;
    }
}

.post-manager-posts {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 768px) {
    .post-manager-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.post-manager-image {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.post-manager-save {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.post-manager-empty {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13%;
    font-size: 2.5em;
    font-weight: bold;
}